@font-face{
    font-family: 'HaiSong';
    src: url('./HaiChaoFengSong.ttf');
}

@font-face{
    font-family: 'HanYi';
    src: url('./HaiYiGuKai.ttf');
}

@font-face{
    font-family: 'YuZhou';
    src: url('./YuZhou-2.ttf');
}